@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background: #212121;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
    overflow: hidden;
}

header {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}

.chat {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background: transparent;
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    line-height: 1.4;
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.18);
    font-size: 80%;
}

.user-message {
    background: #f9f9f9;
    color: #212121;
    align-self: flex-end;
    margin-left: auto;
}

.ai-message {
    background: rgba(0, 0, 0, 0.2);
    color: #f9f9f9;
    align-self: flex-start;
    margin-right: auto;
}

.input-area {
    display: flex;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
}

#user-input {
    flex: 1;
    padding: 10px;
    background: transparent;
    color: #f9f9f9;
    outline: none;
    border: none;
}

#ask-button {
    background: rgba(255, 255, 255, 0.1);
    color: #f9f9f9;
    outline: none;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#ask-button:hover {
    background: rgba(255, 255, 255, 0.05);
}