@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body {
    background: #090F1A;
    color: #3A4264;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    border: solid rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.05);
    overflow: hidden;
}

header {
    background: rgba(255, 255, 255, 0.05);
    padding: 10px;
    text-align: center;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.05);
}

.chat {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    background: transparent;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.05);
}

.chat::-webkit-scrollbar {
    width: 8px;
}

.chat::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transition: background 0.3s;
}

.chat::-webkit-scrollbar-thum:hover {
    background: rgba(255, 255, 255, 0.08);
}

.message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
    line-height: 1.4;
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.18);
    font-size: 90%;
    display: table;
    word-wrap: break-word;
}

.message ul, .message ol {
    padding-left: 40px;
    margin: 5px 0;
}

.user-message {
    background: #3A4264;
    color: #090F1A;
    /* align-self: flex-end; */
    margin-left: auto;
}

.ai-message {
    background: rgba(0, 0, 0, 0.2);
    color: #3A4264;
    /* align-self: flex-start; */
    margin-right: auto;
}

.input-area {
    display: flex;
    padding: 10px;
    background: rgba(255, 255, 255, 0.05);
}

#user-input {
    flex: 1;
    padding: 10px;
    background: transparent;
    color: #3A4264;
    outline: none;
    border: none;
}

#ask-button {
    background: rgba(255, 255, 255, 0.1);
    color: #3A4264;
    outline: none;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

#ask-button:hover {
    background: rgba(255, 255, 255, 0.05);
}